services:
  api:
    image: shahadathhs/knowledge-capsule-api
    platform: 
    container_name: knowledge-capsule-api
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - ./data:/app/data
    ports:
      - "8080:8080"
    environment:
      - GO_ENV=development
    command: air -c .air.toml
    restart: always
